.search-box-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

/* table */

.tbl {
  width: 100%;
  margin: auto;
}

  .tbl thead {
    background-color: Rgb(2,113,220);
    color: white;
    height: 4rem;
    font-size: 2rem;
  }

  .tbl th {
    width: 20%;
  }


tbody tr:hover, tbody input[type=checkbox ]:hover {
  background-color: white;
}


td {
  border-bottom: 1px solid grey;
 position:relative;
}
  td .fa-trash-alt {
    position: absolute;
    left: 0;
    padding: 0.5rem;
    color: red;
    font-size: 1rem;
  }
    td .fa-trash-alt:hover, td .fa-eye:hover {
      cursor: pointer;
    }
    .td-img, .td-price, .td-btn {
    text-align: center;
  }

td img {
  height: 75px;
  width: auto;
}

.td-title, td p {
  font-size: 2rem;
}

.td-description {
  font-size: 1.5rem !important;
  color: grey;
}

.btn-edit, .btn-delete {
  padding: 1rem;
  margin: 2px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 2rem;
  width: 6rem;
}

  .btn-edit:hover, .btn-delete:hover {
    cursor: pointer;
  }

.btn-edit {
  background-color: #72a73b;
}

.btn-delete {
  background-color: #e95e5d;
}

.btn-edit:hover {
  background-color: #5a8a25;
}

.btn-delete:hover {
  background-color: #e04746;
}


@media (max-width: 768px) {
  .admin-title {
    display: none;
  }

  #cat {
    display: none;
  }

  #category {
    width: 100%;
  }

  .btn-edit, .btn-delete {
    width: 8rem;
  }
}






/*  Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 99999999999999; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 3rem;;
  border: 1px solid #888;
  width: 50%;
  height:auto;
}

.modal-content h3{
    font-size:2.5rem;
}
  .modal-content {
    font-size: 2rem;
  }
  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



.show-modal{
    display:block;
           }
