<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2d70bb31-6c1c-468f-9bab-6248817cee54/resourceGroups/EpicerieOnline20210630174031ResourceGroup/providers/Microsoft.Web/sites/EpicerieOnline2</ResourceId>
    <ResourceGroup>EpicerieOnline20210630174031ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://epicerieonline2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>epicerieonline2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EpicerieOnline2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EpicerieOnline2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>