<app-notification *ngIf="notificationNoLogin" class="theme-red">
    <span class="msg-text-add">Veuillez vous connecter.</span>
</app-notification>


<div class="products-box">

    <div class="products-box-category">

        <div class="products-box-category-name"><h2 class="products-box-category-name-title">{{category?.name}} <span style="font-size:2rem;">({{products?.length}})</span> </h2></div>

        <div class="products-box-search">
            <input #query
                   (keyup)="filter(query.value)"
                   class="search-product"
                   type="search"
                   placeholder="Rechercher un produit..." />
        </div>


    </div>


    <div class="products-box-products ">



        <div class="products-box-products-left">


            <div class="checkout-title"> <p> Mon panier <span>({{panierInfo?.nbProducts}})</span> </p> </div>

            <div *ngIf="isEmptyObject(panierInfo.products)" class="checkout-content">
                <span>Votre panier est vide.</span>
                <button class="btn btn-white">Ajouter à partir de vos favoris</button>
            </div>


            <ul>
                <li *ngFor="let p of panierInfo.products;let indexOfelement=index;">
                    <span>{{p.title}}</span>


                    <span>
                        <i class="fas fa-caret-left" style="cursor:pointer;" (click)="minus(p)"></i>
                        <span class="p-nb">{{p.quantity}}</span>
                        <i class="fas fa-caret-right" style="cursor:pointer;" (click)="plus(p)"></i>
                        {{p.price | currency: "EUR"}} <i (click)="onDelete(p.id,p.price)" class="fas fa-minus-circle"></i>
                    </span>


                </li>
            </ul>



            <div class="checkout-btn">

                <button (click)="toCheckOut($event)" class="btn">Payer <i class="far fa-credit-card"></i> <span style="margin-left:0.5rem;">{{panierInfo.totalPrice | currency: "EUR"}}</span></button>
            </div>


        </div>







        <div class="products-box-products-right product" id="product">

            <div *ngFor="let p of filterProducts" class="product-card">

                <div class="product-favorite">
                    <span class="price-price"> {{p.price | currency: "EUR"}}/ {{p.unit}} </span>

                    <i (click)="onFavorite(p.id)" class="fa-heart" [ngClass]="{'far': !p.ifFavorite, 'fas': p.ifFavorite}"></i>
                </div>


                <div class="product-img">
                    <img class="img-img"
                         [src]="p.imageUrl"
                         alt="image"
                         *ngIf="p.imageUrl" />
                </div>





                <div class="product-title">
                    <span class="product-title">{{p.title}} </span>
                    <p class="title-discription">{{p.description}}</p>
                </div>


                <div class="quantity">
                    <span class="quantity-quantity">quantité : </span>
                    <input #quantity type="number" min="1" max="5" value="1" />
                    <span> /{{p.unit}} </span>
                </div>

                <div class="btn product-btn" (click)="addProduct(p, quantity.value)"><span class="product-btn-btn">Ajouter au panier </span> <i class="fas fa-cart-plus"></i></div>







            </div>


        </div>

    </div>



</div>


