<section class="footer">
    <div class="box-container">
        <div class="box">
            <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>groco</a>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
                culpa sit enim nesciunt rerum laborum illum quam error ut alias!
            </p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Notre emplacement</h3>
            <div class="links">
                <a href="#">Blois</a>
                <a href="#">Paris</a>


            </div>
        </div>

        <div class="box">
            <h3>Liens rapides</h3>
            <div class="links">
                <a href="#">Accueil</a>
                <a href="#">Catégories</a>
                <a href="#">Products</a>
                <a href="#">Contact</a>
                <a href="#"></a>
            </div>
        </div>

        <div class="box">
            <h3>Télécharger des applications</h3>
            <div class="links">
                <a href="#">Google play</a>
                <a href="#">Window xp</a>
                <a href="#">App store</a>
            </div>
        </div>
    </div>
</section>